
.footer__derechos {
    margin-top: 50px;
}

.footer {
    background-color: brown;
    margin-top: 30px;
    text-align: center;
}

.footer__contacto {
    font-size: 15px;
}

.footer__titulo {
    font-size: 28px;
}